@import 'variables';

nav {
  display: flex;
  align-items: center;
  #icon {
    font-size: 5rem;
  }
  & .nav__container {
    display: flex;
    justify-content: space-between;
  }

  .primary-navigation {
    list-style: none;

    & > li > a {
      margin-inline-end: 3rem;
      text-decoration: none;
    }
  }
}
